#playground {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listSelect {
    width: 360px;
    margin: auto;
    padding: 15PX;
    display: flex;
    justify-content: space-evenly;
}

.canvas { 
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.canvas > div {
    flex-grow: 1;
}

.row {
    color: black;
}